# Data science tools and ecosystem.

**Objectives:**
* List popular languages for Data Science.
* List data science libraries.
* List Data Science tools.
* Multiply and add numbers in python.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages Data scientists use are:
1. Python
2. R
3. Java
4. Scala
5. C++

Some of the commonly used libraries used by Data Scientists include:
+ Numpy
+ Pada
+ dyplr
+ TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Anaconda|
|Rstudio|

# Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to mutiply then add integers.
print ((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
print (200/60)

3.3333333333333335

In [ ]:
## Author:
   Alessandro Three Alcime